nav {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(37, 41, 46);
  height: 51px;
  width: 100%;
  margin: 0;
}

footer {
  position: absolute;
  background-color: rgb(143, 166, 181);
  left: 225px;
  right: 159px;
  height: 110px;
  top: 770px;
}

.main-body {
  min-width: 890px;
}
