---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/commits?q=author-date:%3E2018-03-08%20author:amj133
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - "<GITHUB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1521735445'
      X-Github-Media-Type:
      - github.cloak-preview; format=json
      Link:
      - <https://api.github.com/search/commits?q=author-date%3A%3E2018-03-08+author%3Aamj133&page=2>;
        rel="next", <https://api.github.com/search/commits?q=author-date%3A%3E2018-03-08+author%3Aamj133&page=6>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":159,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/amj133/api-curious/commits/9608273bbd652c68a3eb7e4f52e25bf9a40aced9","sha":"9608273bbd652c68a3eb7e4f52e25bf9a40aced9","html_url":"https://github.com/amj133/api-curious/commit/9608273bbd652c68a3eb7e4f52e25bf9a40aced9","comments_url":"https://api.github.com/repos/amj133/api-curious/commits/9608273bbd652c68a3eb7e4f52e25bf9a40aced9/comments","commit":{"url":"https://api.github.com/repos/amj133/api-curious/git/commits/9608273bbd652c68a3eb7e4f52e25bf9a40aced9","author":{"date":"2018-03-19T15:20:03.000-06:00","name":"Andrew
        Jeffery","email":"amj@vt.edu"},"committer":{"date":"2018-03-19T15:20:03.000-06:00","name":"GitHub","email":"noreply@github.com"},"message":"Merge
        pull request #1 from amj133/initial-omniauth-user-login\n\nInitial omniauth
        user login","tree":{"url":"https://api.github.com/repos/amj133/api-curious/git/trees/fdc5bc421bcc4a3123a5cf9857704cfb1327ea57","sha":"fdc5bc421bcc4a3123a5cf9857704cfb1327ea57"},"comment_count":0},"author":{"login":"amj133","id":31484552,"avatar_url":"https://avatars0.githubusercontent.com/u/31484552?v=4","gravatar_id":"","url":"https://api.github.com/users/amj133","html_url":"https://github.com/amj133","followers_url":"https://api.github.com/users/amj133/followers","following_url":"https://api.github.com/users/amj133/following{/other_user}","gists_url":"https://api.github.com/users/amj133/gists{/gist_id}","starred_url":"https://api.github.com/users/amj133/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/amj133/subscriptions","organizations_url":"https://api.github.com/users/amj133/orgs","repos_url":"https://api.github.com/users/amj133/repos","events_url":"https://api.github.com/users/amj133/events{/privacy}","received_events_url":"https://api.github.com/users/amj133/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"avatar_url":"https://avatars3.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"url":"https://api.github.com/repos/amj133/api-curious/commits/fe672c39acce021c05452ea9ad547c221a400193","html_url":"https://github.com/amj133/api-curious/commit/fe672c39acce021c05452ea9ad547c221a400193","sha":"fe672c39acce021c05452ea9ad547c221a400193"},{"url":"https://api.github.com/repos/amj133/api-curious/commits/a8dd9d22d4baad4db7ea40862bf5a891dbd4c302","html_url":"https://github.com/amj133/api-curious/commit/a8dd9d22d4baad4db7ea40862bf5a891dbd4c302","sha":"a8dd9d22d4baad4db7ea40862bf5a891dbd4c302"}],"repository":{"id":125893999,"name":"api-curious","full_name":"amj133/api-curious","owner":{"login":"amj133","id":31484552,"avatar_url":"https://avatars0.githubusercontent.com/u/31484552?v=4","gravatar_id":"","url":"https://api.github.com/users/amj133","html_url":"https://github.com/amj133","followers_url":"https://api.github.com/users/amj133/followers","following_url":"https://api.github.com/users/amj133/following{/other_user}","gists_url":"https://api.github.com/users/amj133/gists{/gist_id}","starred_url":"https://api.github.com/users/amj133/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/amj133/subscriptions","organizations_url":"https://api.github.com/users/amj133/orgs","repos_url":"https://api.github.com/users/amj133/repos","events_url":"https://api.github.com/users/amj133/events{/privacy}","received_events_url":"https://api.github.com/users/amj133/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/amj133/api-curious","description":"Backend
        Engineering Project at Turing - consuming GitHub API and replicating the user
        profile page","fork":false,"url":"https://api.github.com/repos/amj133/api-curious","forks_url":"https://api.github.com/repos/amj133/api-curious/forks","keys_url":"https://api.github.com/repos/amj133/api-curious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/amj133/api-curious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/amj133/api-curious/teams","hooks_url":"https://api.github.com/repos/amj133/api-curious/hooks","issue_events_url":"https://api.github.com/repos/amj133/api-curious/issues/events{/number}","events_url":"https://api.github.com/repos/amj133/api-curious/events","assignees_url":"https://api.github.com/repos/amj133/api-curious/assignees{/user}","branches_url":"https://api.github.com/repos/amj133/api-curious/branches{/branch}","tags_url":"https://api.github.com/repos/amj133/api-curious/tags","blobs_url":"https://api.github.com/repos/amj133/api-curious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/amj133/api-curious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/amj133/api-curious/git/refs{/sha}","trees_url":"https://api.github.com/repos/amj133/api-curious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/amj133/api-curious/statuses/{sha}","languages_url":"https://api.github.com/repos/amj133/api-curious/languages","stargazers_url":"https://api.github.com/repos/amj133/api-curious/stargazers","contributors_url":"https://api.github.com/repos/amj133/api-curious/contributors","subscribers_url":"https://api.github.com/repos/amj133/api-curious/subscribers","subscription_url":"https://api.github.com/repos/amj133/api-curious/subscription","commits_url":"https://api.github.com/repos/amj133/api-curious/commits{/sha}","git_commits_url":"https://api.github.com/repos/amj133/api-curious/git/commits{/sha}","comments_url":"https://api.github.com/repos/amj133/api-curious/comments{/number}","issue_comment_url":"https://api.github.com/repos/amj133/api-curious/issues/comments{/number}","contents_url":"https://api.github.com/repos/amj133/api-curious/contents/{+path}","compare_url":"https://api.github.com/repos/amj133/api-curious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/amj133/api-curious/merges","archive_url":"https://api.github.com/repos/amj133/api-curious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/amj133/api-curious/downloads","issues_url":"https://api.github.com/repos/amj133/api-curious/issues{/number}","pulls_url":"https://api.github.com/repos/amj133/api-curious/pulls{/number}","milestones_url":"https://api.github.com/repos/amj133/api-curious/milestones{/number}","notifications_url":"https://api.github.com/repos/amj133/api-curious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/amj133/api-curious/labels{/name}","releases_url":"https://api.github.com/repos/amj133/api-curious/releases{/id}","deployments_url":"https://api.github.com/repos/amj133/api-curious/deployments"},"score":16.655222},{"url":"https://api.github.com/repos/amj133/api-curious/commits/a8dd9d22d4baad4db7ea40862bf5a891dbd4c302","sha":"a8dd9d22d4baad4db7ea40862bf5a891dbd4c302","html_url":"https://github.com/amj133/api-curious/commit/a8dd9d22d4baad4db7ea40862bf5a891dbd4c302","comments_url":"https://api.github.com/repos/amj133/api-curious/commits/a8dd9d22d4baad4db7ea40862bf5a891dbd4c302/comments","commit":{"url":"https://api.github.com/repos/amj133/api-curious/git/commits/a8dd9d22d4baad4db7ea40862bf5a891dbd[...]
