---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/amj133/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - "<GITHUB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1521686338'
      Etag:
      - W/"34b7c3531e63c7f8b8b4794cb5d779a6"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":114669694,"name":"http_web_server","full_name":"mgmilton/http_web_server","owner":{"login":"mgmilton","id":7215067,"avatar_url":"https://avatars3.githubusercontent.com/u/7215067?v=4","gravatar_id":"","url":"https://api.github.com/users/mgmilton","html_url":"https://github.com/mgmilton","followers_url":"https://api.github.com/users/mgmilton/followers","following_url":"https://api.github.com/users/mgmilton/following{/other_user}","gists_url":"https://api.github.com/users/mgmilton/gists{/gist_id}","starred_url":"https://api.github.com/users/mgmilton/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mgmilton/subscriptions","organizations_url":"https://api.github.com/users/mgmilton/orgs","repos_url":"https://api.github.com/users/mgmilton/repos","events_url":"https://api.github.com/users/mgmilton/events{/privacy}","received_events_url":"https://api.github.com/users/mgmilton/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/mgmilton/http_web_server","description":"A
        Minimal Ruby HTTP Web Server","fork":false,"url":"https://api.github.com/repos/mgmilton/http_web_server","forks_url":"https://api.github.com/repos/mgmilton/http_web_server/forks","keys_url":"https://api.github.com/repos/mgmilton/http_web_server/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mgmilton/http_web_server/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mgmilton/http_web_server/teams","hooks_url":"https://api.github.com/repos/mgmilton/http_web_server/hooks","issue_events_url":"https://api.github.com/repos/mgmilton/http_web_server/issues/events{/number}","events_url":"https://api.github.com/repos/mgmilton/http_web_server/events","assignees_url":"https://api.github.com/repos/mgmilton/http_web_server/assignees{/user}","branches_url":"https://api.github.com/repos/mgmilton/http_web_server/branches{/branch}","tags_url":"https://api.github.com/repos/mgmilton/http_web_server/tags","blobs_url":"https://api.github.com/repos/mgmilton/http_web_server/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mgmilton/http_web_server/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mgmilton/http_web_server/git/refs{/sha}","trees_url":"https://api.github.com/repos/mgmilton/http_web_server/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mgmilton/http_web_server/statuses/{sha}","languages_url":"https://api.github.com/repos/mgmilton/http_web_server/languages","stargazers_url":"https://api.github.com/repos/mgmilton/http_web_server/stargazers","contributors_url":"https://api.github.com/repos/mgmilton/http_web_server/contributors","subscribers_url":"https://api.github.com/repos/mgmilton/http_web_server/subscribers","subscription_url":"https://api.github.com/repos/mgmilton/http_web_server/subscription","commits_url":"https://api.github.com/repos/mgmilton/http_web_server/commits{/sha}","git_commits_url":"https://api.github.com/repos/mgmilton/http_web_server/git/commits{/sha}","comments_url":"https://api.github.com/repos/mgmilton/http_web_server/comments{/number}","issue_comment_url":"https://api.github.com/repos/mgmilton/http_web_server/issues/comments{/number}","contents_url":"https://api.github.com/repos/mgmilton/http_web_server/contents/{+path}","compare_url":"https://api.github.com/repos/mgmilton/http_web_server/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mgmilton/http_web_server/merges","archive_url":"https://api.github.com/repos/mgmilton/http_web_server/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mgmilton/http_web_server/downloads","issues_url":"https://api.github.com/repos/mgmilton/http_web_server/issues{/number}","pulls_url":"https://api.github.com/repos/mgmilton/http_web_server/pulls{/number}","milestones_url":"https://api.github.com/repos/mgmilton/http_web_server/milestones{/number}","notifications_url":"https://api.github.com/repos/mgmilton/http_web_server/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mgmilton/http_web_server/labels{/name}","releases_url":"https://api.github.com/repos/mgmilton/http_web_server/releases{/id}","deployments_url":"https://api.github.com/repos/mgmilton/http_web_server/deployments","created_at":"2017-12-18T17:34:54Z","updated_at":"2018-03-21T01:30:49Z","pushed_at":"2018-01-08T03:28:25Z","git_url":"git://github.com/mgmilton/http_web_server.git","ssh_url":"git@github.com:mgmilton/http_web_server.git","clone_url":"https://github.com/mgmilton/http_web_server.git","svn_url":"https://github.com/mgmilton/http_web_server","homepage":null,"size":42,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master"},{"id":113362713,"name":"JungleBeat","full_name":"AtmaVichara/JungleBeat","owner":{"login":"AtmaVichara","id":7635493,"avatar_url":"https://avatars1.githubusercontent.com/u/7635493?v=4","gravatar_id":"","url":"https://api.github.com/users/AtmaVichara","html_url":"https://github.com/AtmaVichara","followers_url":"https://api.github.com/users/AtmaVichara/followers","following_url":"https://api.github.com/users/AtmaVichara/following{/other_user}","gists_url":"https://api.github.com/users/At[...]
