---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/amj133/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - "<GITHUB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1521742132'
      Etag:
      - W/"1ccbbd958358bededc33b97fab0344f7"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"mgmilton","id":7215067,"avatar_url":"https://avatars3.githubusercontent.com/u/7215067?v=4","gravatar_id":"","url":"https://api.github.com/users/mgmilton","html_url":"https://github.com/mgmilton","followers_url":"https://api.github.com/users/mgmilton/followers","following_url":"https://api.github.com/users/mgmilton/following{/other_user}","gists_url":"https://api.github.com/users/mgmilton/gists{/gist_id}","starred_url":"https://api.github.com/users/mgmilton/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mgmilton/subscriptions","organizations_url":"https://api.github.com/users/mgmilton/orgs","repos_url":"https://api.github.com/users/mgmilton/repos","events_url":"https://api.github.com/users/mgmilton/events{/privacy}","received_events_url":"https://api.github.com/users/mgmilton/received_events","type":"User","site_admin":false},{"login":"lnchambers","id":32661560,"avatar_url":"https://avatars0.githubusercontent.com/u/32661560?v=4","gravatar_id":"","url":"https://api.github.com/users/lnchambers","html_url":"https://github.com/lnchambers","followers_url":"https://api.github.com/users/lnchambers/followers","following_url":"https://api.github.com/users/lnchambers/following{/other_user}","gists_url":"https://api.github.com/users/lnchambers/gists{/gist_id}","starred_url":"https://api.github.com/users/lnchambers/starre[...]
